<!Doctype html>
<html>
<head>
<title></title>
</head>
<body>
<div class="container marketing">
<form class="form-horizontal" action="/posted/" name="myForm" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Enter Channel Id</label>
      <div class="col-lg-10">
        <textarea class="form-control" name="blogbody" cols="30" rows="5" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <a href="/"><button class="btn btn-default">Cancel</button></a>
        <button type="submit" class="btn btn-primary" name="post" value="Channel Id">Submit</button>
      </div>
    </div>
</form>
</div>
</body>
</html>